<h2>Edit Existing Order {{order.id}}</h3>

<form method="POST" action="/edit-order">

    <div>
        <label for="name">Customer Name</label>
        <input id="name" name="name" value="{{order.name}}" required>
    </div>

    <div>
        <label for="product">Product</label>
        <select id="product" name="product" required>
            {{!-- Kinda hacky way to get the select to choose the right option, see code helpers.js --}}
            <option value="Hat" {{ selectOption order.product "Hat"}} >Hat</option>
            <option value="Mittens" {{ selectOption order.product "Mittens"}}>Mittens</option>
            <option value="Scarf"{{ selectOption order.product "Scarf"}}>Scarf</option>
        </select>
    </div>

    <div>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" type="number" value="{{order.quantity}}" required>
    </div>

    <!-- This type="hidden" input has a value of the order id, so that when this form is submitted, 
    the order id is included, so the server can tell which order is should be edited.  -->

    <input type="hidden" name="id" value="{{order.id}}">

    <div>
        <button type="submit">Save Order Changes</button>
    </div>
    
</form>
