<h2>All Orders</h2>

{{# each orders}}

    <div>
        <h3>Order ID: {{this.id}}</h3>
        <p>Customer Name: {{this.name}}</p>
        <p>Product: {{this.product}}</p>
        <p>Quantity: {{this.quantity}}</p>

        <a href="edit/{{this.id}}">Edit this order</a>
        
        <hr>
    </div>

{{else}}

    <p>No orders.</p>

{{/each}}
